*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ff2a6d;
}

a {
  text-decoration: none;
}

.nav-bar{
  /* background-color: #fff; */
  position: relative;
    /* display: inline; */
}

nav {
  display: flex;
  width: 100%;
  height: 10vh;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav ul {
  display: flex;
  /* flex-wrap: wrap; */
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #111;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  padding: 6px 15px;
  border-radius: 3px;
  letter-spacing: 1px;
  transition: all 0.2s ease;
}
.go-back {
  /* background-color: #4CAF50; */
  /* Green */
  border: none;
  color: black;
  flex-wrap: nowrap;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  white-space: nowrap;
  /* font-size: 16px; */
}
nav ul li a.active,
nav ul li a:hover {
  color: turquoise;
}

.register{
  /* display: inline; */
  /* float: right; */
  text-align: center;
  width: 100%;
}


/* .background {
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad, #23a2f6);
  left: -80px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  right: -30px;
  bottom: -80px;
} */

.outer-container {
  margin: 0 auto 0 auto;
  width: 100%;
  max-width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.container {
  width: 19%;
  height: 40vh;
  border-radius: 2px;
  /* float: left;     */
  display: flex;
  position: relative;
  top: 0;
  z-index: 1;
  margin: 8%;
  margin-top: 4%;
  margin-bottom: 4%;
  border: 2px solid #fff;
  box-shadow: 0 5px 10px 0px #3C385C;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container1 {
  background: #5967C3;
  background: -webkit-linear-gradient(left top, #5967C3, #83cedc);
  background: linear-gradient(to bottom right, #5967C3, #83cedc);
}

.container2 {
  background: #ffaec2;
  background: -webkit-linear-gradient(left top, #ffaec2, #7e4aaf);
  background: linear-gradient(to bottom right, #ffaec2, #7e4aaf);
  margin-left: -50px;
  z-index: 2;
}

.container3 {
  background: #CA619C;
  background: -webkit-linear-gradient(left top, #CA619C, #DBC084);
  background: linear-gradient(to bottom right, #CA619C, #DBC084);
  margin-left: -50px;
}

.container4 {
  background: #5967C3;
  background: -webkit-linear-gradient(left top, #5967C3, #83cedc);
  background: linear-gradient(to bottom right, #5967C3, #83cedc);
}

.container5 {
  background: #ffaec2;
  background: -webkit-linear-gradient(left top, #ffaec2, #7e4aaf);
  background: linear-gradient(to bottom right, #ffaec2, #7e4aaf);
  margin-left: -50px;
  z-index: 2;
}

.container6 {
  background: #CA619C;
  background: -webkit-linear-gradient(left top, #CA619C, #DBC084);
  background: linear-gradient(to bottom right, #CA619C, #DBC084);
  margin-left: -50px;
}

.active {
  z-index: 3;
  top: -25px;
  height: 45vh;
  border: 2px solid #00b3fe;
}

.title {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  align-items: center;
  margin-top: 15px;
}

.title::after {
  content: '';
  display: block;
  height: 3.5px;
  width: 20%;
  background-color: #FFF;
  border-radius: 15px;
  margin: 5px auto 0 auto;
  text-align: center;
}

.inner_container {
  width: 100%;
}

.main_number {
  position: absolute;
  top: 52%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  font-size: 6rem;
  color: #FFFFFF;
  opacity: 0.2;
  font-weight: 800;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.main_number::before {
  content: '₹';
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 5%;
}

.container3 .main_number::before {
  content: '$';
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 10%;
}

.container6 .main_number::before {
  content: '$';
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 10%;
}

.active .main_number {
  top: 45%;
}

.container a {
  text-decoration: none;
  color: #3C385C;
  font-weight: 800;
  font-size: 0.7rem;
  background-color: #FFF;
  width: 80%;
  line-height: 40px;
  display: block;
  border-radius: 30px;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.container a span {
  opacity: 0.6;
}

.active a {
  bottom: -20px;
}

.active a span {
  opacity: 1;
}

.container_text {
  position: absolute;
  top: 52%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.active .container_text {
  top: 80%;
}

.container_text span {
  display: block;
}

.container_text1 {
  font-size: 0.8rem;
}

.container_text2 {
  font-size: 1rem;
}

.card {
  background-color: rgb(252, 241, 241, 0.5);
  margin: 4%;
      height: 110%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 1%;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

/* FOOTER SECTION */
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #111;
}

footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

footer .content p{
  color: #fff;
}

footer .content a{
  color: #03e9f4;
}

footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}

footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;

}

footer .content p {
  text-align: justify;
}

footer .content .lower .topic {
  margin: 24px 0 5px 0;
}

footer .content .lower i {
  padding-right: 16px;
}

footer .content .middle {
  padding-left: 80px;
}

footer .content .middle a {
  line-height: 32px;
}

footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}

footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
  background: none;
  color: #eb2f06;
}

footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}

.content .media-icons a:hover {
  border-color: #eb2f06;
}

footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 10px 5px 0;
}

footer .bottom a {
  color: #eb2f06;
}

footer a {
  transition: all 0.3s ease;
}

footer a:hover {
  color: #eb2f06;
}

@media (max-width:1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}

@media (max-width:950px) {
  footer .content .box {
    width: 50%;
  }

  .content .right {
    margin-top: 40px;
  }
}

@media (max-width:560px) {
  footer {
    position: relative;
  }

  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }

  footer .content .middle {
    padding-left: 0;
  }
}

/* Google Fonts - Poppins */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* overflow-x:hidden; */
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 80vh;
  /* margin-bottom: 10%; */
  background-color: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
}

.cnt223 a {
  text-decoration: none;
}

.popup {
  width: 100%;
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
  margin-bottom: 10%;
}

.cnt223 {
  /* min-width: 600px; */
  width: 85vw;
  /* min-height: 150px; */
  height: 85vh;
  margin: auto;
  /* margin-bottom: 10%; */
  background: #f3f3f3;
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #000;
  overflow: auto;
}

.cnt223 p {
  clear: both;
  color: #555555;
  text-align: justify;
  font-size: 20px;
  padding: 5%;
  font-family: sans-serif;
}

.cnt223 p a {
  color: #d91900;
  font-weight: bold;
}

.cnt223 .x {
  float: right;
  height: 35px;
  left: 22px;
  position: relative;
  top: -25px;
  width: 34px;
}

.cnt223 .x:hover {
  cursor: pointer;
}


@media (min-width: 1024px) {}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .outer-container {
    max-width: 100vw;
  }

  .outer-container .container {
    width: 100%;
  }

}

@media only screen and (max-width:560px) {
  .outer-container {
    max-width: 100vw;
        margin-top: 8%;
  }

  .outer-container .container {
    width: 100%;
    margin: 2%;
    margin-top: 8%;
    margin-bottom: 5%;
    height: 25vh;
    
  }

  .card {
    margin: 0;
  }

  .main_number {
    font-size: 3rem;
    top: 30%;
  }

  .container_text1 {
    font-size: 0.7rem;
  }

  .container_text2 {
    font-size: 0.8rem;
  }
}

